@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800,900');
html{
  zoom:90%;
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', sans-serif !important;
}
.nav-custom {
  background: #0c6eb5 !important;
  color: #fff !important;
}
.navigate{
  background: transparent;
  border: 1px solid #0c6eb5;
  font-family: 'Montserrat', sans-serif !important;
  margin-top: 21px;
  margin-bottom: 10.5px;
  font-weight: bold;
  font-size: 14px;
  color: #0c6eb5;
}
.highlight
{
  font-weight: bold;
    font-size: 14px;
    color: #0c6eb5;
}

.navbar-header {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-header .logo {
  display: inline-block;
}
.navbar-header .logo img {
  width: 40px;
  height: 40px;
}
.navbar-header .version {
  display: inline-block;
  font-size: 10px;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 5px;
}
.navbar-header .brand {
  display: inline-block;
  vertical-align: middle;
}
.navbar-header .brand a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding-left: 5px;
}

.navbar {
  margin-bottom: 15px;
}
 .inputnav
{
  position: relative;
      display: block;
      width: 100%;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      vertical-align: middle;
      font-size: 14px;
      line-height: 1.428571429;
    padding: 12px 44px 12px 24px !important;
      outline: none;
      height: 32px;
      background-clip: padding-box;
      border: 1px solid rgba(10, 46, 96, 0.4);
      border-radius: 40px;
      outline-offset: -2px;
    width: 100% !important;
}
.btn.accountcheck
{
  padding-top: 4px;
padding-bottom: 4px;
background: transparent;
color: #0c6eb5;
border: none;
position: absolute;
    right: 40px;
    top: 36px;

}
.navbar-right {
  margin-right: 0px;
}
.top-header {
  cursor: pointer;
  padding-top: 15px;
}
.dropdown-list {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown-list:hover {
  background: #0c6eb5;
  color: #fff;
}
.dropdown-list:hover a {
  background: #0c6eb5 !important;
  color: #fff !important;
}
.username {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 20px;
}

.brand {
  display: inline-block;
}
.navbar-default .navbar-nav > .open.navbar-default .navbar-nav > .open > a {
  background: #fff;
  color: #fff;
}
.dropdown-menu {
  background: white;
  color: #fff;
  border: none;
}
.dropdown-menu li > a {
  color: #0c6eb5;
}
.dropdown-menu li > a:hover {
  color: #0c6eb5;
  background: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
{
  background:none;
}
.table-responsive
{
  -webkit-box-shadow: 0px 1px 5px #e7e7e7;
box-shadow: 0px 1px 5px #e7e7e7;

}
.table{
  font-size: 14px;
  margin-bottom: 0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
{
text-align: center;
height: 50px;
font-weight: 400;
vertical-align: middle;
padding: 12px;
border-bottom: 1px solid #eff1f4;
border-top: 1px solid #eff1f4;
background: transparent;
line-height: 1.42857143;
color: #333333;
}
.table>thead>tr:nth-child(odd), .table>tbody>tr:nth-child(odd), .table>tfoot>tr:nth-child(odd)
{
background: #f2f9ff;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th{
  font-weight: bold;
}

@media (max-width: 978px) {
    .container {
      padding:5;
      margin:0;
    }
    .top-header {
      cursor: pointer;
      padding-top: 0px;
    }
    .navbar-nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
    }
    .navbar-form{
      padding:10px 0px;
    }
    .navbar-right{
      margin-right: initial;
      margin-left: initial;
      margin-bottom:0px;
    }
    .btn.accountcheck{
      border: 0px;
      position: absolute;
    right: 20px;
    top: 46px;
    }
}

a {
  color: #00B7FF;
}
